<!-- 
// aat issue #1 : 9/17/2012
// Calendar
// calendarActivity was created and it is assigned as launcher 

// aat issue #7 : 9/16/2012
// Add tab for navigation with option
// BaseActivity was created and it will have actionbar 
// All other activities will inherit this activity

-->
      
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.efridgerator1p1"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".CalendarActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name= ".BaseActivity">
            
        </activity>
    </application>

</manifest>